body {
    font-family: "Open Sans", sans-serif;
}

#input {
    width: 450px;
    height: 100px;
}

#calendar {
    width: 1600px;
    height: 980px;
}

.fc-timegrid-slot {
    height: 2.2em !important;
}

.fc-header-toolbar {
    display: none !important;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 2px 0;
}

.class-container {
    display: flex;
    flex-direction: column;
    padding: 0px 2px;
    font-size: small;

    >* {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.class-title {
    font-weight: bold;
}

.class-desc {
    font-weight: normal;
}

.class-walk {
    margin-right: 3px;
}

.class-loc {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#buttons {
    margin: 5px 0px;
}

#schedule {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c c";
    width: max-content;
}

#schedule-title {
    grid-area: a;
    align-self: center;
}

#calendar {
    grid-area: c;
}

#checklist {
    grid-area: b;
    margin-bottom: 10px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    width: max-content;
    min-width: 450px;
    justify-self: end;
}

#checklist-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.checklist-status {
    margin-right: 8px;
}

.checklist-item {
    margin-right: 4px;
    font-weight: 600;
}

.checklist-value {
    margin-right: 8px;
}

.checklist-message {
    font-style: italic;
}
